<p>formulario works!</p>

<form id="formularioDePrueba" [formGroup]="formulario" (ngSubmit)="guardar()">
    <div id="SitioFormulario">Aquí viene el formulario</div>
    <fieldset>
        <legend>Campos principales</legend>
        <label for="nombre">Nombre</label>
        <input  type="text" formControlName="nombre"  id="nombre" name="nombre">
        <label for="apellido">Apellido</label>
        <input  type="text" formControlName="apellido"  id="apellido" name="apellido">
        <button type="submit" id="boton" name="boton" >Clic aquí</button>
    </fieldset>
</form>

 

